<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PathToTranslationsXml" value="D:\Stuff\Cs2hx\trunk\Cs2hx2\Translations.xml"/>
    <add key="PathToSystemDir" value="D:\Stuff\Cs2hx\trunk\system\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
